<div class="content-top">
    <div>
        <h1>Мои заказы</h1>
    </div>
</div>
<div class="product product-item">
    <div ng-if="orders.length > 0" class="basket">
        <table class="table-basket">
            <tr>
                <th>#</th>
                <th>Книги</th>
                <th>Стоимость заказа</th>
                <th>Статус заказа</th>
            </tr>
            <tr ng-repeat="item in orders">
                <td>{{ $index + 1 }}</td>
                <td>
                    <ul>
                        <li ng-repeat="orderDetails in item.OrderDetails">{{ orderDetails.Book.Name }}</li>
                    </ul>
                </td>
                <td>{{ getSumOrder(item) | currency:"руб.":0 }}</td>
                <td>
                    <span ng-if="item.Confirmed == true" class="label label-success">Подтвержден</span>
                    <span ng-if="item.Confirmed == false" class="label label-danger">Отказано</span>
                    <span ng-if="item.Confirmed == null" class="label label-warning">Обрабатывается</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Итого:</strong> {{ getSumPrice() | currency:"руб.":0 }}</td>
            </tr>
        </table>
    </div>
    <div ng-if="orders.length == 0">
        <h2>Заказы отсутствуют</h2>
        <h3>Перейдите в <a href="/#/books/">каталог</a> для добавления книг в корзину</h3>
    </div>
</div>